<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="./common.config">
    <!-- TEST XML LOCATION -->
    <add key="XmlOutputPath" value="C:\project\PointVideoGallery\PointVideoGallery\App_Data"/>
    <!-- FTP 設定 -->
    <add key="HostName" value="220.130.142.140" />
    <add key="UserName" value="ftpuser" />
    <add key="Password" value="P@54712456" />
    <!-- 執行檔下的任意資料夾 -->
    <add key="RemoteAssetsDirectory" value="/FTP/CNS_TEST/asset/" />
    <add key="RemoteRootDirectory" value="/FTP/CNS_TEST/" />
  </appSettings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
