@using PointVideoGallery.Models
@using PointVideoGallery.Services
@section header {
    <link href="/Static/dist/events.css" rel="stylesheet" />
}
@{
    var asService = new AdService();
    var settingService = new SettingService();
    var locations = asService.GetLocationTagsAsync().Result;
    var so = settingService.GetSoSettingsAsync().Result;
}
<div id="viewPanel">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-search"></span> 資料查詢
        </div>
        <div class="panel-body" id="query-panel">
            <div class="col-xs-6">
                <label for="locationSelect" style="display: block;">播放位址</label>
                <select id="locationSelect" name="locations[]" multiple="multiple">
                </select>
                <div style="text-align: left; margin-top: 10px;">
                    <button class="btn btn-sm btn-primary" id="queryBtn">
                        <span class="glyphicon glyphicon-search"></span> 查詢
                    </button>
                </div>
            </div>
            <div class="col-xs-6">
                <label for="soSelect" style="display: block;">So</label>
                <select id="soSelect" name="so[]" multiple="multiple">
                </select>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span> 資料列表
        </div>
        <div class="panel-body" id="event-list-panel">
            <div id="panel-body-msg"></div>
            <table id="table"></table>
        </div>
        <div style="text-align: right; margin: 15px;">
            <button class="btn btn-sm btn-primary" id="newEventBtn">
                <span class="glyphicon glyphicon-plus-sign"></span> 新增
            </button>
        </div>
    </div>
</div>

@*Edit View*@
<div id="editPanel" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-cog"></span> 基本資料
        </div>
        <div class="panel-body"  id="info-panel">
            <div class="title-div">
                <label>名稱</label>
                <div class="form-group">
                    <input type="text" name="name" class="form-control input-sm" id="name"/>
                </div>
                <label>秒數</label>
                <div class="form-group">
                    <input type="number" name="name" class="form-control input-sm input-with-label" value="600" disabled/>
                    <p class="input-right-label">秒</p>
                </div>
            </div>
            <div style="margin-top: 15px; text-align: right;">
                <button id="save" class="btn btn-sm btn-primary" style="margin-right: 2vw;">
                    <span class="glyphicon glyphicon-floppy-saved"></span> 儲存
                </button>
                <button id="goBack" class="btn btn-sm btn-default" style="margin-right: 2vw;">
                    <span class="glyphicon glyphicon-floppy-remove"></span> 返回
                </button>
            </div>
        </div>
    </div>
@*    location/resource/so*@
    <div id="editPanelBody" style="display: none;" class="fade-in">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 1.顯示位置
            </div>
            <div class="panel-body" id="panel-loc">
                <table id="location-table"></table>
                <div style="text-align: right; margin: 15px 0;">
                    <button class="btn btn-sm btn-primary" id="newLocBtn" data-toggle="modal" data-target="#editModal">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新增
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 2. SO
            </div>
            <div class="panel-body" id="panel-so">
                <table id="so-table"></table>
                <div style="text-align: right; margin: 15px 0;">
                    <button class="btn btn-sm btn-primary" id="newSoBtn" data-toggle="modal" data-target="#editModal">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新增
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 3. 播放項目/方式
            </div>
            <div class="panel-body" id="res-panel">
                <div class="form-group">
                    <label class="playout-label">播放方式</label>
                    <select id="playoutMethod" class="form-control input-sm playout">
                        <option value="interval" selected="selected">輪播</option>
                        <option value="random">隨機</option>
                    </select>
                    <select id="playoutSeq" class="form-control input-sm playout">
                        <option value="byasset" selected="selected">byasset</option>
                        <option value="bytime">bytime</option>
                    </select>
                    <input type="number" placeholder="秒數" id="playoutSec" class="form-control input-sm playout" />
                </div>
                <label class="playout-label">播放項目</label>
                <table id="resource-table"></table>
                <div style="text-align: right; margin: 15px 0;">
                    <button class="btn btn-sm btn-primary" id="newResBtn" data-toggle="modal" data-target="#resourceModal">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新增
                    </button>
                    <button class="btn btn-sm btn-primary" id="saveRes" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-floppy-saved"></span> 儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@*modal*@
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 修改資料</h4>
            </div>
            <div class="modal-body">
                <select id="editSelect" name="data[]" multiple="multiple"></select>
                <div style="margin-top: 10px; text-align: right;">
                    <button id="editSubmit" class="btn btn-sm btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*resource modal*@
<div class="modal fade" id="resourceModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 資源選擇</h4>
            </div>
            <div class="modal-body">
                <table id="res-select-table"></table>
                <div style="margin-top: 10px; text-align: right;">
                    <button id="resEditSubmit" class="btn btn-sm btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*action modal*@
<div class="modal fade" id="actionModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 動作清單</h4>
            </div>
            <div class="modal-body">
                <form name="action" id="action">
                    <table id="action-select-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>套用</th>
                            <th>設定</th>
                            <th>類型</th>
                            <th>動作</th>
                            <th>參數</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" name="redEnable"/></td>
                            <td>
                                <p class="badge bg-important">Red</p>
                            </td>
                            <td>
                                <select class="form-control input-sm" name="redType"  id="redType">
                                    <option value="image" selected="selected">image</option>
                                    <option value="app">app</option>
                                    <option value="media">media</option>
                                    <option value="webpage">webpage</option>
                                </select>
                            </td>
                            <td>
                                <label for="redImg" class="btn btn-default btn-sm upload">
                                </label>
                                <input type="file" id="redImg" name="redImg" style="display: none" multiple accept="image/gif, image/jpeg, image/png, image/jpg" />
                                <input type="text" maxlength="255" class="form-control input-sm action" name="redAction" style="display: none;"/>
                            </td>
                            <td>
                                <input type="text" name="redParam" maxlength="255" class="form-control input-sm" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="greenEnable"/></td>
                            <td>
                                <p class="badge bg-success">Green</p>
                            </td>
                            <td>
                                <select class="form-control input-sm" name="greenType" id="greenType">
                                    <option value="image" selected="selected">image</option>
                                    <option value="app">app</option>
                                    <option value="media">media</option>
                                    <option value="webpage">webpage</option>
                                </select>
                            </td>
                            <td>
                                <label for="greenImg" class="btn btn-default btn-sm upload">
                                </label>
                                <input type="file" id="greenImg" name="greenImg" style="display: none" multiple accept="image/gif, image/jpeg, image/png, image/jpg" />
                                <input type="text" name="greenAction" maxlength="255" class="form-control input-sm action" style="display: none;"/>
                            </td>
                            <td>
                                <input type="text" name="greenParam" maxlength="255" class="form-control input-sm" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="yellowEnable" /></td>
                            <td>
                                <p class="badge bg-warning">Yellow</p>
                            </td>
                            <td>
                                <select class="form-control input-sm" name="yellowType" id="yellowType">
                                    <option value="image" selected="selected">image</option>
                                    <option value="app">app</option>
                                    <option value="media">media</option>
                                    <option value="webpage">webpage</option>
                                </select>
                            </td>
                            <td>
                                <label for="yellowImg" class="btn btn-default btn-sm upload">
                                </label>
                                <input type="file" id="yellowImg" name="yellowImg" style="display: none" multiple accept="image/gif, image/jpeg, image/png, image/jpg" />
                                <input type="text" name="yellowAction" maxlength="255" class="form-control input-sm action" style="display: none;"/>
                            </td>
                            <td>
                                <input type="text" name="yellowParam" maxlength="255" class="form-control input-sm" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="blueEnable" /></td>
                            <td>
                                <p class="badge bg-primary">Blue</p>
                            </td>
                            <td>
                                <select class="form-control input-sm" name="blueType" id="blueType">
                                    <option value="image" selected="selected">image</option>
                                    <option value="app">app</option>
                                    <option value="media">media</option>
                                    <option value="webpage">webpage</option>
                                </select>
                            </td>
                            <td>
                                <label for="blueImg" class="btn btn-default btn-sm upload">
                                </label>
                                <input type="file" id="blueImg" name="blueImg" style="display: none" multiple accept="image/gif, image/jpeg, image/png, image/jpg" />
                                <input type="text" name="blueAction" maxlength="255" class="form-control input-sm action" style="display: none;"/>
                            </td>
                            <td>
                                <input type="text" name="blueParam" maxlength="255" class="form-control input-sm" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="okEnable" /></td>
                            <td>
                                <p class="badge bg-info">Ok</p>
                            </td>
                            <td>
                                <select class="form-control input-sm" name="okType" id="okType">
                                    <option value="image" selected="selected">image</option>
                                    <option value="app">app</option>
                                    <option value="media">media</option>
                                    <option value="webpage">webpage</option>
                                </select>
                            </td>
                            <td>
                                <label for="okImg" class="btn btn-default btn-sm upload">
                                </label>
                                <input type="file" id="okImg" name="okImg" style="display: none" multiple accept="image/gif, image/jpeg, image/png, image/jpg" />
                                <input type="text" name="okAction" maxlength="255" class="form-control input-sm action" style="display: none;"/>
                            </td>
                            <td>
                                <input type="text" name="okParam" maxlength="255" class="form-control input-sm" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="margin-top: 10px; text-align: right;">
                        <button id="actionEditSubmit" class="btn btn-sm btn-primary" type="button">確認</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*calender modal*@
<div class="modal fade" id="calendarModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 加入排程</h4>
            </div>
            <div class="modal-body">
                <div class="input-group input-daterange" id="datepicker">
                    <input type="text" class="form-control">
                    <div class="input-group-addon">to</div>
                    <input type="text" class="form-control">
                </div>
                <div style="margin-top: 12px; text-align: right;">
                    <button class="btn btn-sm btn-primary" id="calendarUpdate">確定</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="calendarAbort">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $._so = [@foreach (var obj in so) { @Html.Raw($"{{Id:'{obj.Id}',Name:'{obj.Name}',Code:'{obj.Code}'}},") }];
        $._loc = [@foreach (var obj in locations) { @Html.Raw($"{{Id:'{obj.Id}',Name:'{obj.Name}'}},") }];
    </script>
    <script src="/Static/dist/events.js"></script>
}