@using PointVideoGallery.Models
@using PointVideoGallery.Services
@section header {
    <link href="/Static/dist/events.css" rel="stylesheet" />
}
@{
    var asService = new AdService();
    var settingService = new SettingService();
    var locations = asService.GetLocationTagsAsync().Result;
    var so = settingService.GetSoSettingsAsync().Result;
}
<div id="viewPanel">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-search"></span> 資料查詢</div>
        <div class="panel-body" id="query-panel">
            <div class="col-xs-6">
                <label for="locationSelect" style="display: block;">播放位址</label>
                <select id="locationSelect" name="locations[]" multiple="multiple">
                </select>
                <div style="text-align: left; margin-top: 10px;">
                    <button class="btn btn-sm btn-primary" id="queryBtn">
                        <span class="glyphicon glyphicon-search"></span> 查詢
                    </button>
                </div>
            </div>
            <div class="col-xs-6">
                <label for="soSelect" style="display: block;">So</label>
                <select id="soSelect" name="so[]" multiple="multiple">
                </select>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span> 資料列表</div>
        <div class="panel-body" id="event-list-panel">
            <table id="table"></table>
        </div>
        <div style="text-align: right; margin: 15px;">
            <button class="btn btn-sm btn-primary" id="newEventBtn">
                <span class="glyphicon glyphicon-plus-sign"></span> 新增
            </button>
        </div>
    </div>
</div>

@*Edit View*@
<div id="editPanel" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-cog"></span> 基本資料
        </div>
        <div class="panel-body"  id="info-panel">
            <div class="title-div">
                <label>名稱</label>
                <div class="form-group">
                    <input type="text" name="name" class="form-control input-sm" id="name"/>
                </div>
                <label>影片</label>
                <div class="form-group">
                    <input type="text" name="name" class="form-control input-sm input-with-label" disabled="disabled"/>
                    <button class="input-sm input-right-label form-control btn-primary" style="text-align: center;">
                        <span class="glyphicon glyphicon-facetime-video"></span> 選擇
                    </button>
                </div>
                <label>秒數</label>
                <div class="form-group">
                    <input type="number" name="name" class="form-control input-sm input-with-label" placeholder="10"/>
                    <p class="input-right-label">秒</p>
                </div>
            </div>
            <div style="margin-top: 15px; text-align: right;">
                <button id="save" class="btn btn-sm btn-primary" style="margin-right: 2vw;">
                    <span class="glyphicon glyphicon-floppy-saved"></span> 儲存
                </button>
                <button id="goBack" class="btn btn-sm btn-default" style="margin-right: 2vw;">
                    <span class="glyphicon glyphicon-floppy-remove"></span> 返回
                </button>
            </div>
        </div>
    </div>
@*    location/resource/so*@
    <div id="editPanelBody" style="display: none;" class="fade-in">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 1.顯示位置
            </div>
            <div class="panel-body">
                <table id="location-table"></table>
                <div style="text-align: right; margin: 15px 0;">
                    <button class="btn btn-sm btn-primary" id="newLocBtn" data-toggle="modal" data-target="#editModal">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新增
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 2. SO
            </div>
            <div class="panel-body">
                <table id="so-table"></table>
                <div style="text-align: right; margin: 15px 0;">
                    <button class="btn btn-sm btn-primary" id="newSoBtn" data-toggle="modal" data-target="#editModal">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新增
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span> 3. 播放項目/方式
            </div>
            <div class="panel-body" id="res-panel">
                <div class="form-group">
                    <label class="playout-label">播放方式</label>
                    <select id="playoutMethod" class="form-control input-sm playout">
                        <option value="taketurn" selected="selected">輪播</option>
                        <option value="random">隨機</option>
                    </select>
                    <select id="playoutSeq" class="form-control input-sm playout">
                        <option value="byasset" selected="selected">byasset</option>
                        <option value="bytime">bytime</option>
                    </select>
                    <input type="number" placeholder="秒數" id="playoutSec" class="form-control input-sm playout" />
                </div>
                <label class="playout-label">播放項目</label>
                <table id="resource-table"></table>
                <div style="text-align: right; margin: 15px 0;">
                    <button class="btn btn-sm btn-primary" id="newResBtn" data-toggle="modal" data-target="#resourceModal">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新增
                    </button>
                    <button class="btn btn-sm btn-primary" id="saveRes" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-floppy-saved"></span> 儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@*modal*@
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 修改資料</h4>
            </div>
            <div class="modal-body">
                <select id="editSelect" name="data[]" multiple="multiple"></select>
                <div style="margin-top: 10px; text-align: right;">
                    <button id="editSubmit" class="btn btn-sm btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*resource modal*@
<div class="modal fade" id="resourceModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 資源選擇</h4>
            </div>
            <div class="modal-body">
                <table id="res-select-table"></table>
                <div style="margin-top: 10px; text-align: right;">
                    <button id="resEditSubmit" class="btn btn-sm btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $._so = [@foreach (var obj in so) { @Html.Raw($"{{Id:'{obj.Id}',Name:'{obj.Name}',Code:'{obj.Code}'}},") }];
        $._loc = [@foreach (var obj in locations) { @Html.Raw($"{{Id:'{obj.Id}',Name:'{obj.Name}'}},") }];
    </script>
    <script src="/Static/dist/events.js"></script>
}