<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span> 資料列表</div>
    <div class="panel-body">
        <div style="display: none;" id="msg"></div>
        <table id="table"></table>
        <div style="position: relative; height: 40px;">
            <button class="btn btn-sm btn-primary" style="margin-top: 10px; position: absolute; right: 0;" id="newRowBtn">
                <span class="glyphicon glyphicon-plus"></span> 新增
            </button>
        </div>
    </div>
</div>

@*modify data modal*@
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> 修改資料</h4>
            </div>
            <div class="modal-body">
                <div><span style="color: red; display: none; font-weight: 800;" id="editModalMsg"></span></div>
                <input class='form-control input-sm' placeholder='SO代碼' type='text' style='margin-top: 8px;' id="editCode"/>
                <input class='form-control input-sm' placeholder='SO名稱' type='text' style='margin-top: 8px;' id="editName"/>
                <div style="margin-top: 12px; text-align: right;">
                    <button class="btn btn-sm btn-primary" id="editUpdate">確定</button>
                    <button class="btn btn-sm btn-danger" id="editDelete">刪除</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="editAbort">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*new data modal*@
<div class="modal fade" id="newModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-plus-sign"></span> 新增資料</h4>
            </div>
            <div class="modal-body">
                <div><span style="color: red; display: none; font-weight: 800;" id="newModalMsg"></span></div>
                <input class='form-control input-sm' placeholder='SO代碼' type='text' style='margin-top: 8px;' id="newCode"/>
                <input class='form-control input-sm' placeholder='SO名稱' type='text' style='margin-top: 8px;' id="newName"/>
                <div style="margin-top: 12px; text-align: right;">
                    <button class="btn btn-sm btn-primary" id="newCreate">確定</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="newAbort">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="/Static/dist/sosetting.js"></script>
}