@{
    ViewBag.Title = "Detail";
}
@section header {
    <style>
        ul.dropdown-menu-form {
            padding: 5px 10px 0;
            max-height: 400px;
            overflow-y: scroll;
        }
    </style>
}
<section class="wrapper">
    <section class="panel">
        <header class="panel-heading">
            舌尖上的中國02主食的故事.mp4
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <video width="800" height="450" controls>
                        <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
                        您的瀏覽器不支援影片播放，請更新您的瀏覽器至最新版.
                    </video>
                </div>
                <div class="col-lg-6">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>影片名稱 :</p>
                    <h4 class="text-danger">兩個爸爸第7集.mp4 (H.264 MPEG-4)</h4>

                    <p>檔案路徑 :</p>
                    <h4 class="text-danger">Z:\兩個爸爸\</h4>

                    <p>影片容量/長度 :</p>
                    <h4 class="text-danger">585 MB / 00:44:46</h4>

                    <p>解析度/長寬比 :</p>
                    <h4 class="text-danger">1280x720 / 16:9</h4>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal" role="form">
                        <!--編輯欄位-->
                        <div class="dashboard-header">
                            <div class="col-lg-6">
                                <h2>影片資料</h2>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">標題 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="title">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">字幕 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="vob">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">發行商 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="company">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">導演 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="director">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">演出者 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="actor">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">發行年份 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="publish-year">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">影片分級 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="level">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">集數 :</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" id="count">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <label class="col-lg-1 control-label">標籤 :</label>
                                    <div class="col-lg-4">
                                        <input name="tagsinput" id="tagsinput" class="tagsinput" value="新聞,時事,地方" />
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-9">
                                <button type="submit" class="btn btn-danger">儲存變更</button>
                                <button type="submit" class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

@section scripts
{
    <!--custom tagsinput-->
    <script src="/Static/js/jquery.tagsinput.js"></script>
    <!--script for this page-->
    <script src="/Static/js/form-component.js"></script>
}
