@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="/Static/dist/site.css">
    <style>.body-500{background:#672d2d;color:#fff;font-size:24px;font-weight:200}.error-wrapper p.page-500{color:#afa5f1}.error-wrapper .fa{width:289px;height:274px;display:inline-block;margin-left:55px}.error-title{font-size:72px}.error-sub{font-size:48px}.error-link,.error-link:hover,.error-link:visited{text-decoration:underline;color:#fff}@@media (max-width:720px){.error-title{font-size:48px}.error-sub{font-size:24px}.body-500{font-size:12px}}</style>
</head>
<body class="body-500">
<div style="margin-top: 20vh;">
    <section class="error-wrapper" style="text-align: center;">
        <div class="error-title">Oops!</div>
        <div class="error-sub">403 Forbidden</div>
        <p class="page-500">
            你沒有權限進行操作 <a href="javascript:window.history.back();" class="error-link">回上頁</a>
        </p>
    </section>
</div>
</body>

</html>