.title-div {
    width: 40vw;
    margin: 0 auto;
}

.input-with-label {
    width: calc(100% - 67px); 
    display: inline-block;
}

.input-right-label {
    width: 62px; 
    display: inline-block;
    text-align: right;
}
div.panel-body div.form-group {
    margin-bottom: 10px;
}

.preview-img {
    background-position: center!important;
    background-size: contain!important;
    height: 8vh;
}

.playout.form-control {
    display: inline-block;
    width: 20vw;
    margin: 1vh 1vw;
}

.playout-label {
    display: block;
}



div.panel-heading {
    font-size: 16px;
    font-weight: 700;
}

div.alert {
    font-size: 14px;
}

label.upload.btn {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 130px;
    min-width: 50px;
    width: 100%;
    height: 30px;
}
input.action.input-sm {
    max-width: 130px;
}

@media screen and (max-width: 700px) {
    .title-div {
        width: 60vw;
    }
    .playout.form-control {
        width: 22vw;
    }
}