/*footer*/

.site-footer {
    background: #5b6e84;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255, 255, 255, .5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.go-top i {
    color: #2A3542;
}

.site-min-height {
    min-height: 900px;
}