* {
    font-family: "Microsoft JhengHei", "cwTeXYen", "Open Sans", sans-serif;
}
body {
    color: #797979;
    background: #f1f2f7;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    overflow: auto;
}

ul li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #FF6C60;
    color: #fff;
}

::-moz-selection {
    background: #FF6C60;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

/*main content*/

#main-content {
    margin-left: 210px;
}

.header,
.footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 15px;
    width: 100%;
}

a.logo {
    font-size: 21px;
    color: #2e2e2e;
    float: left;
    margin-top: 16px;
    text-transform: uppercase;
}

a.logo::after {
    content: " SERVER";
    color: #FF6C60;
}

a.logo:hover,
a.logo:focus {
    text-decoration: none;
    outline: none;
}

/*badge*/
.badge.bg-primary {
    background: #8075c4;
}

.badge.bg-success {
    background: #a9d86e;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-important {
    background: #ff6c60;
}

.badge.bg-info {
    background: #41cac0;
}

.badge.bg-inverse {
    background: #2A3542;
}


/*panel heading color*/

.panel-primary>.panel-heading.navyblue {
    background-color: #2A3542;
    border-color: #2A3542;
    color: #FFFFFF;
}
