<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!-- TEST XML LOCATION -->
<!--  <add key="XmlOutputPath" value="C:\project\PointVideoGallery\PointVideoGallery\App_Data"/>-->
  <add key="XmlOutputPath" value="C:\Users\Michael\Desktop\packages"/>
  <!-- Video management / upload path -->
  <add key="LibraryIndexBasePath" value="C:\Users\Michael\Desktop\data\gallery" />
  <!-- Mysql connection string -->
  <add key="MySqlConnectionString" value="Server=127.0.0.1;Port=5432;Database=videolib;Uid=root;Pwd=P@int2016;CHARSET=utf8;" />
  <!-- this will be added in front of every asset's path -->
  <add key="XmlAssetsLeadingRelativePath" value="./../asset/" />
</appSettings>