@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    @Styles.Render("~/Content/css")
    <link href="/Static/css/style.css" rel="stylesheet">
    <link href="/Static/css/style-responsive.css" rel="stylesheet" />
</head>
<body class="body-404">
    <div class="container">
        <section class="error-wrapper">
            <i class="fa fa-404"></i>
            <h1>404</h1>
            <h2>page not found</h2>
            <p class="page-404">Something went wrong or that page doesn’t exist yet. <a href="index.html">Return Home</a></p>
        </section>
    </div>
</body>
</html>
